<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="javascripts/main.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato: 100,300,400,700|Luckiest+Guy|Oxygen:300,400" rel="stylesheet">
</head>
<body ng-app>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Twitter Analysis About Gun Laws in America</h2>
        </div>
        <div class="col-md-4" style="size: 25px">
            <p>Show Public Opinion About Gun Laws in America.</p>
            <ol>
                <li>Positif,Negative and Netral Sentiments.</li>
                <li>Virality</li>
                <li>Peak Time Trending from Tweets.</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="row" id="results">
            <div class="col-md-6">
                <div id="movies_wrap" class="card" style="padding:20px">
                    <div class="card-title"><h3>Sentiments</h3></div>
                    <h3></h3>
                    <div id="sentiment_count"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="tweets_wrap" class="card" style="padding: 20px">
                    <div class="card-title"><h3>Information Spreading</h3></div>
                    <div id="information_spreading" style="height: 500px; padding: 20px;"></div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 20px">
                <div id="top_5" class="card" style="padding: 10px;">
                    <div class="card-title"><h3>Top 10 Influencer</h3></div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Username</th>
                            <th>Follower</th>
                            <th>Retweet</th>
                        </tr>
                        <tr>
                            <td>ahmadzakia</td>
                            <td>123332</td>
                            <td>12000</td>
                        </tr>
                        <tr>
                            <td>ahmadzakia2</td>
                            <td>123312</td>
                            <td>11000</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--<div class="col-md-6" style="margin-top: 20px  ">-->
                <!--<div id="tweets_wrap" class="card">-->
                    <!--<div class="card-title" style="padding: 10px;"><h3>Undefined</h3></div>-->
                    <!--<div id="donutchart" style="width: 700px; height: 500px;"></div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</body>

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    <!-- pie chart 1-->
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Kind', 'Number of Tweets'],
            ['Positive', 8],
            ['Negative', 2],
            ['Netral', 4]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'', 'width':700, 'height':500};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('sentiment_count'));
        chart.draw(data, options);
    }
</script>
<!-- piechart 3-->
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Amount'],
            ['Relaxed',     11],
            ['Happy',      2],
            ['Unhappy',  2],
            ['Upset', 2]
        ]);

        var options = {
            title: '',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>
<!--piechart 2-->
<script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Positive', 'Negative', 'Netral'],
            ['Tweet', 11700, 4600, 2500]

        ]);

        var options = {
            chart: {
                title: '',
            },
            bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('information_spreading'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>
</html>