body {
  margin: 0;
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {*/
  /*color: #00B7FF;*/
/*}*/

html{
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

#goal{
}

#results{
  margin: 50px 0px;
}

/* left */
#pie_wrap{
  width: 440px;
  float: left;
}

.pie_piece{
  position: absolute;
  width: 400px;
  height: 400px;

  margin: 20px 20px 20px 20px;
  padding: 0px;
}

#select{
  position: absolute;
  width: 400px;
  height: 400px;

  margin: 20px 20px 20px 20px;
  padding: 0px;

  cursor: pointer;
}


/* right side */

#info_wrap{

  float: right;
  width: 400px;
}
#element_info{
  display: none;
}
#element_title{
  display: none;
}